<div class="user">
  <h3><%= user.username %>'s Profile</h3>
  <img src="<%= user.image_url %>" width="170" height="170"> <br><br>
  <strong>Name:</strong> <%= user.name %> <br>
  <strong>Age:</strong> <%= user.age %> <br>
  <strong>Location:</strong> <%= user.location %> <br>
  <strong>Favorite Movies:</strong> <%= user.favorite_movies %> <br>
  <strong>Favorite TV Shows:</strong> <%= user.favorite_tv_shows %> <br><br>
</div>
