<div id="user">
  <div id="username_profile">
  <%= user.username %>'s Profile
  </div>
  <img src="<%= user.image_url %>" width="170" height="170">
  <div id="user_info">
  <p><strong>Name:</strong> <%= user.name %></p>
  <p><strong>Age:</strong> <%= user.age %></p>
  <p><strong>Location:</strong> <%= user.location %> </p>
  <p><strong>Favorite Movies:</strong> <%= user.favorite_movies %> </p>
  <p><strong>Favorite TV Shows:</strong> <%= user.favorite_tv_shows %>
  </div>
</div>
