<h3><%= @user.name %>'s Profile</h3>

<h4><%= @user.name %>'s Current Playlists</h4>
<dl>
<% @playlists.each do |playlist| %>
  <strong><%= playlist.name %></strong> <br>
    <% playlist.titles.each do |title| %>
      <a href="http://www.crackle.com/c/<%= title.name.gsub(' ', '-') %>"><dd><%= title.name %></dd></a>
    <% end %>
<% end %>
</dl>
<a href="/playlists/new">Make a playlist</a> <br>
<a href="/logout">Log out</a> <br>

<% if !logged_in? %>

<a href="/">Home</a> <br>
<a href="/users/new">Sign up!</a> <br>
<a href="/session/new">Log-in!</a>

<% end %>
