<h3><%= @user.username %>'s Profile</h3> <br>
<img src="<%= @user.image_url %>" width="170" height="170"> <br>
Name: <%= @user.name %> <br>
Age: <%= @user.age %> <br>
Location: <%= @user.location %> <br>
Favorite Movies: <%= @user.favorite_movies %> <br>
Favorite TV Shows: <%= @user.favorite_tv_shows %> <br><br>


<h4><%= @user.username %>'s Current Playlists</h4>
<dl>
<% @playlists.each do |playlist| %>
  <strong><%= playlist.name %></strong> <br>
    <% playlist.titles.each do |title| %>
      <a href="http://www.crackle.com/c/<%= title.name.gsub(' ', '-') %>"><dd><%= title.name %></dd></a>
    <% end %>
<% end %>
</dl>
<a href="/playlists/new">Make a playlist</a> <br>
<a href="/logout">Log out</a> <br>

<% if !logged_in? %>

<a href="/">Home</a> <br>
<a href="/users/new">Sign up!</a> <br>
<a href="/session/new">Log-in!</a>

<% end %>
