

<% @crackle_item.each do |title| %>
  <p>Title:</p><%= title["Title"] %> <br>
  <img src="<%= title["ImageUrl11"] %>" alt="Title Image" >
  <p><%= title["Genre"] %>,  <%= title["Rating"] %> </p>
  <p><%= title["Description"] %></p>
  <%= form_for(Title.new) do |f| %>
<!--   form to create a new title
  send back title to save
  need to connect it to a playlist -->
  <input type="text" name="title[Title]" value="<%= title["Title"] %>">
  <select name="title[playlist_id]">
    <% current_user.playlists.each do |playlist| %>
    <option value="<%= playlist.id %>"><%= playlist.name %></option>
    <% end %>
  </select>
    <%= f.submit %>
  <% end %>
  <% end %>

