
<% @titles.each do |title| %>
  <p>Title:</p><strong><%= title["Title"] %></strong> <br>
  <img src="<%= title["ImageUrl11"] %>" alt="Title Image" >
  <p><%= title["Genre"] %>,  <%= title["Rating"] %> <br>
  <em><%= title["Description"] %></em></p>
  <%= form_for(Title.new) do |f| %>
  <input type="text" name="title[Title]" value="<%= title["Title"] %>">
  <input type="text" name="title[ID]" value="<%= title["ID"] %>">
  <select name="title[playlist_id]">
    <% current_user.playlists.each do |playlist| %>
  <option value="<%= playlist.id %>"><%= playlist.name %></option>
    <% end %>
  </select>
  <%= f.submit %>
  <% end %>
<% end %>


<center>
<a href="/">Home</a> | <a href="/logout">Logout</a>
</center>

