<!DOCTYPE html>
<html>
<head>
  <title>Reelpix</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="dashboard">
    <a id="logo-home" href="<%= root_path %>">
      <img src="<%= asset_path("logos/#{rand(8)}.png") %>">
    </a><br>
    <% if logged_in? %>
      <%= render "/layouts/user_dashboard" %>
    <% else %>
      <%= render "/layouts/nonuser_dashboard" %>
    <% end %>
  </div>

  <% if flash %>
  <%= flash[:error] %>
  <% end %>

  <div id="title-search">
    <%= form_tag("/playlists/show_titles", method: "get") do %>
      <%= label_tag(:title_search, "Search for title:") %>
      <%= text_field_tag(:title_search) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <%= yield %>

  <p id="contact">Developed by Michael Beaujean // <a href="http://michaelbeaujean.com" target="_blank">MichaelBeaujean.com</a><p>

</body>
</html>
