<!DOCTYPE html>
<html>
<head>
  <title>Reelpix</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="dashboard">
    <h1>Reelpix</h1>

    <% if logged_in? %>
      <%= render "/layouts/user_dashboard" %>
    <% else %>
      <%= render "/layouts/nonuser_dashboard" %>
    <% end %>
  </div>

  <% if flash %>
  <%= flash[:error] %>
  <% end %>

  <%= yield %>

</body>
</html>
